body{
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/blue-technical-abstract-motion-design-video-corporate-animation-ultra-hd-4k-3840x2160_hixc_bmw-x_thumbnail-full05.png');
  background-repeat: no-repeat;
  background-origin: fixed;
  background-size: cover;
  text-align: center;
}

.h2{
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
}
.h3{
  font-size: 60px;
  padding: 0.5%;
  font-weight: bold;
  font-family: fantasy;
}

.h1{
  font-size: 150px;
  color: #00004d;
  font-weight: bold;
  font-family: fantasy;
}

 .h4 {
   font-size: 50px;
   font-weight: bold;
   font-family: fantasy;
   font-weight: bold;
   font-style: italic;
 }

.footer {
  padding: 5%;
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.linkOfSearch {
  font-size: 40px;
  font-weight: bold;
  font-family: fantasy;
  color: #003300;
}
.input{
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: inherit;
  margin: 3%;
}
button{
  width: 100px;
  height: 45px;
  font-size: 50px;
  padding: inherit;
}
