body{
  background-image: url('https://freerangestock.com/sample/118159/technology-background--abstract-background--with-copyspace-.jpg');
  background-repeat: no-repeat;
  background-origin: fixed;
  background-size: cover;
  text-align: center;
}

.h2{
  font-size: 50px;
  font-weight: bold;
  font-family: fantasy;
}
.h3{
  font-size: 50px;
  padding: 0.5%;
  font-weight: bold;
  font-family: fantasy;
}

.h1{
  font-size: 150px;
  color: #00004d;
  font-weight: bold;
  font-family: fantasy;
  animation: blinker 3s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
}
.form{
  padding: 5%;
}
.footer {
  padding: 5%;
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
}
.nameOfsearch{
  font-size: 35px;
  color: #00004d;
  font-weight: bold;
  font-family: fantasy;
}
.linkOfSearch {
  font-size: 35px;
  font-weight: bold;
  font-family: fantasy;
  color: #006600;
}
.input{
  width: 600px;
  height: 40px;
}
button{
  width: 100px;
  height: 40px;
  font-size: 30px;
}
